<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carto.mappers.AdminMapper">

	<!-- /admin/member 부분 -->
	<!-- 회원관리 목록 -->
	<select id="memberList" resultType="MemberDTO"
		parameterType="MemberDTO">
		select *
		from member mem, member_auth m_auth
		where
		mem.userid=m_auth.userid
		<include refid="memberSearch" />
		LIMIT #{pageStart}, ${perPageNum}
	</select>

	<!-- 검색 쿼리 회원관리 목록 -->
	<sql id="memberSearch">
		<if test="searchType != null">
			<if test="searchType == 'id'.toString()">
				AND mem.userid LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 'nm'.toString()">
				AND mem.name LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 'tel'.toString()">
				AND mem.phone LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 'type'.toString()">
				AND m_auth.authority LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 'email'.toString()">
				AND mem.email LIKE CONCAT('%', #{keyword},'%')
			</if>
		</if>
	</sql>

	<!-- 페이징 -->
	<select id="listCount" resultType="java.lang.Integer">
	<![CDATA[
		SELECT COUNT(mno) from member mem, member_auth m_auth
		where
		mem.userid=m_auth.userid
	]]>
		<include refid="memberSearch" />
	</select>

	<!-- 회원 한 명 불러오기 -->
	<select id="selectMember" resultType="MemberDTO">
		select *
		from member mem,
		member_auth m_auth
		where
		mem.userid=m_auth.userid
		and mem.mno = #{mno}
	</select>

	<!-- 회원 정보 수정 -->
	<update id="modifyMember" parameterType="MemberDTO">
		update member mem ,
		member_auth m_auth
		set mem.approval_status = #{approval_status} ,
		m_auth.authority =#{authority}
		where mem.mno = #{mno}
		and
		m_auth.userid=#{userid}
	</update>

	<!-- 회원 삭제 처리 -->
	<update id="deleteMember" parameterType="int">
		update member
		set mstate
		= 0
		where mno = #{mno}
	</update>

	<!-- /admin/pay 부분 -->
	<!-- 전체 결제내역 목록 -->
	<select id="payAllList" resultType="payHistory"
		parameterType="criteria">
		select car_m.matchno, mem_d.name as dname, mem_r.name as rname,
		car_i.start_point, car_i.end_point, car_i.start_datetime,
		car_i.seat_num, pay.amount, pay.pay_date
		from
		carpool_match car_m,
		carpool_info car_i, payment pay, member mem_d, member mem_r
		where
		mem_d.mno = pay.driver
		and mem_r.mno = pay.payer
		and car_m.matchno =
		pay.matchno
		<include refid="paySearch" />
		and car_i.cpno = car_m.cpno
		order by pay.pay_date desc
		LIMIT #{pageStart}, ${perPageNum}
	</select>


	<!-- 검색 쿼리 결제내역 -->
	<sql id="paySearch">
		<if test="searchType != null">
			<if test="searchType == 'start'.toString()">
				AND car_i.start_point LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 'end'.toString()">
				AND car_i.end_point LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 'dirver'.toString()">
				AND mem_d.name LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 'rider'.toString()">
				AND mem_r.name LIKE CONCAT('%', #{keyword},'%')
			</if>
		</if>
		<if test="year != null">
			AND car_i.start_datetime LIKE CONCAT('%', #{year},'%')
		</if>
		<if test="month != null">
			AND car_i.start_datetime LIKE CONCAT('%', #{month},'%')
		</if>
	</sql>

	<!-- 페이징 -->
	<select id="paylistCount" resultType="java.lang.Integer">
	<![CDATA[
		SELECT COUNT(car_m.cpno)
		from
		carpool_match car_m, carpool_info car_i, payment pay, member mem_d, member mem_r
		where mem_d.mno = pay.driver
		and mem_r.mno = pay.payer
		and car_m.matchno = pay.matchno
		and car_i.cpno = car_m.cpno
	]]>
		<include refid="paySearch" />
		order by pay.pay_date desc
	</select>

	<!-- /admin/carpool 부분 -->
	<!-- 카풀 진행 목록 -->
	<select id="carpoolAllList" resultType="payHistory"  parameterType="criteria">
		select distinct car_m.matchno, mem_d.name as dname, mem_r.name as rname,
		car_i.start_point, car_i.end_point, car_i.start_datetime,
		car_i.seat_num, car_i.charge, car_m.progress
		from
		carpool_match car_m, carpool_info car_i,member mem_d, member mem_r
		where car_i.mno = mem_r.mno
        and car_m.mno = mem_d.mno
		 <include refid="paySearch" />
		and car_i.cpno = car_m.cpno
		LIMIT #{pageStart}, ${perPageNum}
	</select>

	<!-- 페이징 -->
	<select id="carpoolListCount" resultType="java.lang.Integer">
	<![CDATA[
		SELECT COUNT(car_m.cpno)
		from
		carpool_match car_m, carpool_info car_i,member mem_d, member mem_r
		where car_i.mno = mem_r.mno
        and car_m.mno = mem_d.mno
		and car_i.cpno = car_m.cpno
	]]>
		 <include refid="paySearch" />
	</select>

</mapper>