<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carto.mappers.AdminMapper">

	<!-- 회원관리 목록 -->
	<select id="memberList" resultType="memberDTO"
		parameterType="memberDTO">
		select *
		from member mem, member_auth m_auth
		where
		
		<include refid="search" />
		
		and mem.userid=m_auth.userid
		
	</select>

	<!-- 페이징 -->
	<select id="listCount" resultType="java.lang.Integer">
	<![CDATA[
		SELECT COUNT(mno) FROM member
	]]>
	</select>

	<!-- 검색 쿼리 아이디 이름 전화번호 회원타입 이메일 -->
	<sql id="search">
	
	   1=1
		<if test="searchType != null">
			<if test="searchType == 'id'.toString()">
				AND mem.userid LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 'nm'.toString()">
				AND mem.name LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 'tel'.toString()">
				AND mem.phone LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 'type'.toString()">
				AND m_auth.authority LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 'email'.toString()">
				AND mem.email LIKE CONCAT('%', #{keyword},'%')
			</if>
		</if>
		
	</sql>

	<select id="selectMember" resultType="memberDTO">
		select *
		from member mem,
		member_auth m_auth
		where
		mem.userid=m_auth.userid
		and mem.mno = #{mno}
	</select>

	<update id="modifyMember" parameterType="memberDTO">
		update member mem ,
		member_auth m_auth
		set mem.approval_status = #{approval_status} ,
		m_auth.authority =#{authority}
		where mem.mno = #{mno}
		and m_auth.userid=#{userid}
	</update>

	<update id="deleteMember" parameterType="int">
		update member
		set mstate
		= 0
		where mno = #{mno}
	</update>

</mapper>