<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carto.mappers.BoardAttachMapper">

	<insert id="insert" parameterType="attachfileDTO">
		INSERT INTO attachfile (uuid, uploadpath, filename, 
		fileType, bno)
		VALUES (#{uuid}, #{uploadpath}, #{filename},
		#{fileType}, #{bno})
	</insert>

	<delete id="delete" parameterType="attachfileDTO">
		DELETE FROM attachfile
		WHERE uuid = #{uuid}
	</delete>

	<select id="findByBno" resultType="attachfileDTO">
		SELECT * FROM attachfile
		WHERE bno = #{bno}
	</select>

	<delete id="deleteAll" parameterType="attachfileDTO">
		DELETE FROM attachfile WHERE bno = #{bno}
	</delete>

	<select id="getOldFiles" resultType="attachfileDTO" parameterType="attachfileDTO">
		SELECT * FROM attachfile
		WHERE uploadpath = date_format(date_add(now(), interval - 1 day),
		'%Y\%m\%d')
	</select>
</mapper>