<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.carto.mappers.carpoolMapper">
	
       <resultMap  id="carpoolMap" type="CarpoolDTO">
		<id property="cpno" column="cpno" />
		<result property="cptype" column="cptype"/>
		<result property="startPoint" column="start_point" />
		<result property="startLong" column="start_long" />
		<result property="startLat" column="start_lat" />
		<result property="endPoint" column="end_point" />
		<result property="endLong" column="end_long" />
		<result property="endLat" column="end_lat" />
		<result property="startDateTime" column="start_datetime" />
		<result property="mno" column="mno" />
		<result property="regDate" column="reg_date" />
		<result property="charge" column="charge" />
		<result property="seatNum" column="seat_num" />
		<result property="seatOpt" column="seat_opt" />
		<result property="driveOpt" column="drive_opt" />
		<result property="trunkUse" column="trunk_use" />
		<result property="smokeUse" column="smoke_use" />
		<result property="reqMsg" column="req_msg" />
	</resultMap>
	
	<resultMap id="carpoolMatchMap" type="CarpoolMatchDTO">
		<id property="matchno" column="matchno" />
		<result property="mno" column="mat_mno"/>
		<result property="cpno" column="cpno"/>
		<result property="matchDate" column="match_date"/>
		<result property="progress" column="progress" 
			typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="Progress"/>
		<result property="payno" column="payno"/>
		<result property="driverChk" column="isdriver"/>
		<collection property="carpool" resultMap="carpoolMap"/>
	</resultMap>
	<!-- 카풀 요청/제공 관련 -->
	<insert id="insertCarpool">
		INSERT INTO carpool_info (
			cptype, mno, 
			start_point, start_long, start_lat,
			end_point, end_long, end_lat,
			start_datetime, charge,
			seat_num, seat_opt, drive_opt, trunk_use, smoke_use
			req_msg,
			reg_date
		) VALUES (
			#{cptype}, #{mno}, 
			#{startPoint}, #{startLong}, #{startLat},
			#{endPoint}, #{endLong}, #{endLat},
			#{startDateTime}, #{charge},
			#{seatNum}, #{seatOpt}, #{driveOpt}, #{trunkUse}, #{smokeUse}
			#{reqMsg},
			sysdate()
		)
	</insert>
	
	<select id="getList" resultMap="carpoolMap">
		SELECT * FROM carpool_info
		<where>
			<if test="searchStart != null">
				AND startPoint LIKE CONCAT('%', #{searchStart}, '%')
			</if>
			<if test="searchEnd != null">
				AND endPoint LIKE CONCAT('%', #{searchEnd}, '%')
			</if>
			<if test="startDateTime != null">
				AND startDateTime >= #{startDateTime}
			</if>
		</where>
		ORDER BY startDateTime DESC
	</select>
	
	<!-- 결제 관련 쿼리 -->
	<select id="selectMatInfo" parameterType="int" resultMap="carpoolMatchMap">
  		SELECT 
  			matchno,
  			mat.mno AS mat_mno,
	    	mat.match_date,
    		charge,
    		start_point,
		    end_point,
		    cp.reg_date,
		    payno
    	FROM carpool_info cp
		RIGHT JOIN carpool_match mat ON  cp.cpno = mat.cpno 
 		WHERE mat.mno = #{mno}
  			 AND mat.progress = 1
	</select>
	<!-- 세션의 결제리스트출력용 -->
 	<select id="selectMatInfoByPayno" parameterType="hashmap" resultMap="carpoolMatchMap">
		SELECT 
		    matchno,
  			mat.mno AS mat_mno,
	    	match_date,
    		charge,
    		start_point,
		    end_point,
		    reg_date,
		    payno
	    FROM carpool_info cp
		RIGHT JOIN carpool_match mat ON  cp.cpno = mat.cpno
	 	WHERE  mat.payno = #{payno}
	  	  AND mat.progress =2
	  	  AND mat.mno=#{mno}
	</select> 
	<update id="updateCom" parameterType="hashmap">
		   UPDATE carpool_match
		   SET progress=#{progress}
		   	,  payno = #{payno}
		   WHERE matchno=(SELECT matchno
			FROM (SELECT matchno
					FROM carpool_match
				   WHERE mno=#{mno}) a)
	</update>
	
	<select id="selectDriver" resultType="memberDTO" parameterType="Integer">
		SELECT * 
 		  FROM member 
 		 WHERE MNO =
					(SELECT MNO 
					   FROM CARPOOL_MATCH 
					  WHERE   carpool_match.isdriver= 1
							   AND MATCHNO = (SELECT MATCHNO
												FROM CARPOOL_MATCH
											    WHERE MNO=#{MNO}))
	</select>
</mapper>