<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <settings>
	     <setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings> -->
	<typeAliases>
		<package name="com.carto.admin.domain"/>
		<package name="com.carto.board.domain"/>
		<package name="com.carto.member.domain"/>
		<package name="com.carto.carpool.domain"/>
		<package name="com.carto.admin.domain"/>
		<!-- <package name="com.carto.address.domain"/> -->
	</typeAliases>
	
	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.carto.carpool.domain.Progress"/>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.carto.board.domain.BoardType"/>
  		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.carto.member.domain.MemberStatus"/>
  		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.carto.member.domain.Gender"/>

	</typeHandlers>
</configuration>